<div class ="payment-methods">
    <ul>
        <li>
            <input type="radio" id="paymentMethod" name="paymentMethod" value="Credit / Debit Card"/>
            <img class="payment_card_img" src="{{url}}/card-icons/mastercard.svg">
            <label>MasterCard</label>
        </li>
        <li>
            <input type="radio" id="paymentMethod" name="paymentMethod" value="Credit / Debit Card"/>
            <img class="payment_card_img" src="{{url}}/card-icons/visa.svg">
            <label>Visa</label>
        </li>
        <li>
            <input type="radio" id="paymentMethod" name="paymentMethod" value="TWINT"/>
            <img class="payment_card_img" src="{{url}}/card-icons/twint.svg">
            <label>Twint</label>
        </li>
        <li>
            <input type="radio" id="paymentMethod" name="paymentMethod" value="PostFinance Card"/>
            <img class="payment_card_img" src="{{url}}/card-icons/postfinance-card.svg">
            <label>PostFinance card</label>
        </li>
        <li>
            <input type="radio" id="paymentMethod" name="paymentMethod" value="PostFinance E-Finance"/>
            <img class="payment_card_img" src="{{url}}/card-icons/postfinance-e-finance.svg">
            <label>PostFinance E finance</label>
        </li>
        <li>
            <input type="radio" id="paymentMethod" name="paymentMethod" value="Invoice"/>
            <img class="payment_card_img" src="{{url}}/card-icons/invoice.svg">
            <label>Rechnung</label>
        </li>
    </ul>
</div>
