<style>
.payment-methods input {
    width: 50px !important;
}
</style>
<div class ="payment-methods">
    <ul>
        <li>
            <input type="radio" id="paymentMethod" name="paymentMethod" value="Credit / Debit Card"/><label>Visa</label>
        </li>
        <li>
            <input type="radio" id="paymentMethod" name="paymentMethod" value="Credit / Debit Card"/><label>MasterCard</label>
        </li>
        <li>
            <input type="radio" id="paymentMethod" name="paymentMethod" value="TWINT"/><label>Twint</label>
        </li>
        <li>
            <input type="radio" id="paymentMethod" name="paymentMethod" value="PostFinance Card"/><label>PostFinance Card</label>
        </li>
        <li>
            <input type="radio" id="paymentMethod" name="paymentMethod" value="PostFinance E-Finance"/><label>PostFinance E-finance</label>
        </li>
        <li>
            <input type="radio" id="paymentMethod" name="paymentMethod" value="Invoice"/><label>Rechnung</label>
        </li>
    </ul>
</div>
